*{
    margin: 0;
    padding: 0;
}
@keyframes uni{
    25%{
        background-color: red;
        margin-left: 400px;
        margin-top: 0;
        margin-right: 0px;
        transition:all 2s;

    }
    50%{
        background-color: brown;
        margin-top: 400px;
        margin-left: 0px;
        margin-right: 400px;
        margin-bottom: 0 ;
    }
75%{
    background-color: black;
    margin-left: 400px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 400px;
}
}
.con{
    width: 300px;
    height: 200px;
    background-color: blue;
   
    animation-name: uni;
    animation-duration: 3s;
  animation-iteration-count:infinite ;
}
